<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="style.css" rel="stylesheet">
    <title>Index</title>
</head>
<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      margin: 0;
      padding: 0;
    }
    h1 {
      color: #333;
      text-align: center;
      margin-top: 5.0px;
    }
    form {
      width: 30.0px;
      margin: 0 auto;
      background-color: #fff;
      padding: 2.0px;
      border-radius: .5px;
      box-shadow: 0px 0px 1.0px 0px rgba(0,0,0,0.2);
    }
    label {
      display: block;
      margin-bottom: 1.0px;
    }
    input[type="email"],
    input[type="password"] {
      display: block;
      width: 100%;
      padding: 1.0px;
      margin-bottom: 2.0px;
      border: none;
      border-radius: .5px;
      box-shadow: inset 0px 0px .5px 0px rgba(0,0,0,0.2);
    }
    input[type="submit"] {
      display: block;
      width: 100%;
      padding: 1.0px;
      margin-top: 2.0px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: .5px;
      font-weight: bold;
    }
    input[type="submit"]:hover {
      background-color: #3e8e41;
    }
  
   a.link-1
   {
    display: block;
    text-align: right;
    margin-top: 2.0px;
    color: #333;
    text-decoration: none;
   }
   a.link-2
   {
    display: block;
    text-align: right;
    margin-top: 2.0px;
    color: #333;
    text-decoration: none;
   }
    button {
        background-color: #3e8e41;
        color: #333;
        font-size: 1.6px;
        padding: 1.0px 2.0px;
        border: none;
        border-radius: .5px;
      }
        
        header {
          background-color: #f07816;
          color: #fff;
          padding: 2.0px;
        }
        
        nav ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          display: flex;
        }
        
        nav li {
          margin-right: 35.0px;
        }
        
        nav li:last-child {
          margin-right: 10;
        }
        
        nav a {
          color: #fff;
          text-decoration: none;
          font-weight: bold;
          padding: .5px 1.0px;
          border-radius: .3px;
        }
        
        nav a:hover {
          background-color: #fff;
          color: #333;
        }
  </style>
  <header >
    <!-- <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/login" >Login</a></li>
        <li><a href="/signUp">Signup</a></li>
      </ul>
    </nav> -->
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand text-primary font-weight-bold" href="/"><img src="" height="40">GOALS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">Contact US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signUp">SignUp</a>
            </li>
          </ul>
        </div>
      </div>	
      </nav>
  </header>
  <img src="https://wallpapercave.com/wp/wp1984354.jpg" style="width:100%;">

</html>