<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Form</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form action="/reset_password/<%= user_id %>" method="post">
        <input type="password" placeholder="Enter New password" name="pass1">
        <button>Submit</button>
    </form>
</body>
</html>